@use '../abstracts/mixin' as m;
@use '../abstracts/variables' as var;



.icon__chess {
  background: url(../img/svg/product_icon_02.svg) no-repeat;
  width: 64px;
  height: 64px;
}
.icon__geometry {
  background: url(../img/svg/product_icon_03.svg) no-repeat;
  width: 109px;
  height: 104px;
}
.icon__bowlofmath {
  background: url(../img/svg/product_icon_01.svg) no-repeat;
  width: 100px;
  height: 120px;
}

.product__btn {
  border-radius: 50px;
}

.card__text_productpage {
  padding-bottom: 24px;
}

.product-card-container_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;
}