@use '../abstracts/mixin' as m;
@use '../abstracts/variables' as var;

.footer__container {
  justify-content: flex-start;
  padding: 16px 60px;
}

.footer__title {
  @include m.adaptive(1920px, 1200px, padding-right, 30%, 0);
}

.footer__contacts-list {
  padding: 16px 0 16px;
}

.contacts__item:nth-child(2) {
  padding-top: 1rem;
}

.contacts__link:first-child {
  padding-right: 15px;
}

.contacts__icon-Y {
  position: absolute;
  left: 100%;
  @include m.adaptive(1920px, 1200px, top, calc(50% - 12px), calc(50% - 12px));
  width: 40px;
  height: 24px;
}

.contacts__icon-T {
  position: absolute;
  left: 100%;
  @include m.adaptive(1920px, 1200px, top, calc(50% - 10px), calc(50% - 6px));
  width: 40px;
  height: 40px;
}

.contacts__link {
  @include m.link-status();
}

.hidden {
  display: none;
}