@use '../abstracts/mixin' as m;
@use '../abstracts/variables' as var;

.header {
  z-index: 1;
}

.header__container {
  @include m.adaptive(1920px, 1000px, width, min(50%, 50% + 1vw), max(320px, 50% + 1vw));
  @include m.math(padding, 80, 24);
  border-radius: var.$nav-radius;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.menu__link {
  @include m.link-status();
}