@use '../abstracts/mixin' as m;
@use '../abstracts/variables' as var;

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(#000, .5);
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}

.modal__window {
  position: relative;
  width: 70%;
  border-radius: 25px;
  background-color: var.$bgc-body;
  top: 5%;
  margin: 0 auto;
  transform: scale(0);
  transition: transform .8s
}

.modal__window::before {
  content: '';
  background: url(../img/svg/modal_decor.svg) no-repeat;
  @include m.adaptive(1920px, 860px, width, 170px, 100px);
  @include m.adaptive(1920px, 860px, height, 110px, 60px);
  @include m.adaptive(1920px, 860px, background-size, 170px 100px, 100px 60px);
  position: absolute;
  top: 0;
  left: 0;
}

.modal__window::after {
  content: '';
  background: url(../img/svg/modal_decor.svg) no-repeat;
  @include m.adaptive(1920px, 860px, width, 170px, 100px);
  @include m.adaptive(1920px, 860px, height, 110px, 60px);
  @include m.adaptive(1920px, 860px, background-size, 170px 100px, 100px 60px);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg)
}

.modal__content {
  @include m.math(padding-top, 90, 60);
  @include m.math-padX(padding-left, padding-right, 80, 15);
  overflow: auto;
}

.modal__coontent_buy {
  @include m.math(padding-bottom, 60, 30);
}

.modal__text {
  padding-bottom: 1rem;
  @include m.adaptive(1920px, 860px, line-height, 150%, 120%);
}

.modal__text_link {
  background-color: var.$link-hover;
  color: var.$main;
  font-weight: bold;
}

.warning__point__container {
  display: flex;
  justify-content: space-evenly;
}

.warning__point {
  background: url(../img/svg/modal_warning_point.svg) no-repeat;
  @include m.adaptive(1920px, 860px, width, 56px, 32px);
  @include m.adaptive(1920px, 860px, background-size, 56px 56px, 32px 32px);
  aspect-ratio: 1 /1;
}

.modal__warning_container {
  width: 70%;
  @include m.adaptive(1920px, 860px, border-radius, 25px 25px 0 0, 10px 10px 0 0);
  background-color: var.$bgc-card;
  @include m.math(padding, 40, 15);
  text-align: center;
  margin: 0 auto;
}

.modal__wrapper.open {
  visibility: visible;
  opacity: 1;
}

.modal__wrapper.open .modal__window {
  transform: scale(1);
}

.modal__close {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 2%;
  top: 2%;
  cursor: pointer;
}

.btn__effect:hover,
.btn__effect:hover .cross {
  fill: #D34D4A;
  stroke: white;
}

.modal__list {
  padding: 0;
}

.modal__content_empty {
  padding: 60px;
  text-align: center;
  @include m.math(font-size, 32, 16);
}

